################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/BBS/v15
/BBS/bin/Debug/netcoreapp2.0
/BBS/obj/Debug/netcoreapp2.0
/.vs/config
/BBS/BBS.csproj.user
