@model BBS.Models.FollowRecord

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<h4>FollowRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FollowRecordId" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FollowUserId" class="control-label"></label>
                <select asp-for="FollowUserId" class="form-control" asp-items="ViewBag.FollowUserId"></select>
                <span asp-validation-for="FollowUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddTime" class="control-label"></label>
                <input asp-for="AddTime" class="form-control" />
                <span asp-validation-for="AddTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

