@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="panel panel-default">
    <div class="panel-heading">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="avatar media-middle">
                <a href="#"><img class="avatar-48" src="@(string.IsNullOrEmpty(UserManager.GetUserAsync(User).Result.Image)?"/images/96.png":"/"+ UserManager.GetUserAsync(User).Result.Image)" alt="96"></a>
            </div>
            <h3 class="panel-title media-middle">@UserManager.GetUserName(User)</h3>
            <div class="panel-body">
                <a data-toggle="modal" data-target="#addNodeRecordModal">节点收藏：@ViewBag.NodeRecordCount</a>
                <hr />
                <a asp-controller="" asp-action="Edit" asp-route-id="">话题收藏：@ViewBag.TopicRecordCount</a>
                <hr />
                <a asp-controller="" asp-action="Edit" asp-route-id="">特别关注：@ViewBag.FollowRecordCount</a>
                <hr />
                <a href="#NewTopic">发布新话题</a>
                <hr />
                服务器时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
            </div>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="addNodeRecordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form class="form-horizontal" method="post" asp-controller="Home" asp-action="AddNodeRecord">
                            <input type="hidden" name="UserId" value="@UserManager.GetUserId(User)" />
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    请选择自己感兴趣的节点
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">节点</label>
                                    <div class="col-sm-10">
                                        <select name="NodeId" asp-items="ViewBag.NodeListItem" class="form-control">
                                            <option value="0">请选择一个节点</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">
                                    关闭
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    保存
                                </button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        }
        else
        {
            <h3 class="panel-title">.NET Core 跨平台论坛介绍</h3>
            <div class="panel-body">
                游客您好！
                <br />
                服务器时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
            </div>
        }
    </div>
</div>