@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="panel panel-default">
    <div class="panel-heading">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="avatar media-middle">
                <a href="#"><img class="avatar-48" src="@(string.IsNullOrEmpty(UserManager.GetUserAsync(User).Result.Image)?"/images/96.png":"/"+ UserManager.GetUserAsync(User).Result.Image)" alt="96"></a>
            </div>
            <h3 class="panel-title media-middle">@UserManager.GetUserName(User)</h3>
            <div class="panel-body">
                <a asp-controller="" asp-action="Edit" asp-route-id="">节点收藏：@ViewBag.NodeRecordCount</a>
                <hr />
                <a asp-controller="" asp-action="Edit" asp-route-id="">话题收藏：@ViewBag.TopicRecordCount</a>
                <hr />
                <a asp-controller="" asp-action="Edit" asp-route-id="">特别关注：@ViewBag.FollowRecordCount</a>
                <hr />
                <a href="#NewTopic">发布新话题</a>
                <hr />
                服务器时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
            </div>
        }
        else
        {
            <h3 class="panel-title">.NET Core 跨平台论坛介绍</h3>
            <div class="panel-body">
                游客您好！
                <br />
                服务器时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
            </div>
        }
    </div>
</div>