<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">回复提示</h3>
        <div class="panel-body">
            请尽量用平和的语言面对不同的观点。
            <hr />
            服务器时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
        </div>
    </div>
</div>